*{
	margin: 0;
	padding: 0;
}

@font-face{
    font-family: 'Helvetica Neue';
    src: url(../fonts/helveticaneue-thin-webfont.eot);
    src: url(../fonts/helveticaneue-thin-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneue-thin-webfont.woff2) format('woff2'),
         url(../fonts/helveticaneue-thin-webfont.woff) format('woff'),
         url(../fonts/helveticaneue-thin-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background: gray;
}
ul{
	display: inline-block;
	height: 35px;
	margin-left: 440px;	
}

li{
	display: inline-block;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 35px;
	color: #60b5ed;
}
li:hover{
	background-color: #4eabda;
	color: white;
}

.minhas{
	display: inline-block;
	width: 185px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #4eabda;
	text-indent: 30px;
	text-align: right;
}

.ola{
	display: inline-block;
	width: 160px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #4eabda;
	
}

span{
	text-decoration: underline;
}

.conteiner{
	width: 1215px;
	height: 1028px;
	margin: 0 auto;
	background-image: url(background.png);
	font-family: "Helvetica Neue";
}

nav{
	width: 1215px;
	height: 35px;
	margin: margin: 0 auto;
	background-color: #085495;
}

.top{
	width: 560px;
	height: 62px;
	border-bottom: 2px solid #b9c5ad;
	margin-bottom: 2px;
	text-align: center;
	color: white;
}

.FB_button{
	height: 35px;
	width: 280px;
	border: 0px;
	border-radius:5px;
	background-image: url(FB-bottom.png);
}
h2{
	padding-top: 20px;
}
.content{
	width: 560px;
	margin-left: 353px;
	margin-top: 213px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
}

form{
	margin-top: 35px;
	margin-left: 140px;
}

.button{
	width: 280px;
	height: 35px;
}
.OU{
	display: block;
}
.a{	
	width: 280px;
	height: 35px;
	margin-bottom: 16px;
}

.b{
	height: 35px;
	width: 280px;
}

input{
	text-indent: 15px;
	width: 250px;
	border: 0px;
}
input:focus {
	border:#35a5e5 2px solid;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	background-color: #1b5288;
}
.checkbox{
	width: 25px;
}
label{
	color: white;
} 
.account{
	width: 150px;
	height: 35px;
	margin-left: 70px;
	border: 0px;
	border-radius:5px;
	color: white;
	background-image: url(button.png);
}
p{
	color: white;
	text-align: center;
}
.text_bottom{
	margin-left: -30px;
	margin-right: 120px;
	margin-bottom: 20px;
}